body {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#bigFrame {
	height: 350px;
	width: 600px;
	margin: 130px auto 0px;
}

#upFrame {
	height: 60px;
	width: 600px;
	background-color: #797979;
	border-radius: 10px 10px 0px 0px;
}

#middleFrame {
	height: 235px;
	width: 600px;
	background-color: black;
	padding-top: 55px;
}

#switch {
	box-shadow: outer 0px 2px 4px rgba(0,0,0,0.1);
	color: #FFFFFF;
	background-color: #F7A735;
	border-radius: 5px;
	font-size: 14px;
	font-family: PingFang SC,Verdana,Helvetica Neue,Microsoft Yahei,
				 Hiragino Sans GB,Microsoft Sans Serif,
				 WenQuanYi Micro Hei,sans-serif;
	height: 32px;
	width: 124px;
	margin: 14px 14px 14px 0px;
	float: right;
}

select {
	width: 112px;
	height: 32px;
	background-color: #E3E7EE;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 14px;
	padding-left: 10px;
	margin: 14px 0px 14px 14px;
	float: left;
}

.date {
	color: #ffffff;
	height: 25px;
	font-size: 18px;
	font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei,
				 Hiragino Sans GB, Microsoft Sans Serif,
				 WenQuanYi Micro Hei, sans-serif;
	margin: 29.5px 14px 14px;
}

#afternoon {
	color: #ffffff;
	font-size: 20px;
	font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei,
				 Hiragino Sans GB, Microsoft Sans Serif, 
				 WenQuanYi Micro Hei, sans-serif;
	width: 480px;
	height: 28px;
	text-align: center;
	margin: 0px auto;
	display: block;
}

#TimeDisplay {
	color: #FFFFFF;
	font-size: 100px;
	font-family: Courier, 'Courier New', monospace;
	position: relative;
	width: 480px;
	height: 140px;
	margin: 0px auto;
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}
